/* PART [ FLAG > STYLESHEET ] ############################################### */

/* 1. ROOT LEVEL VARIABLES ++++++++++++++++++++++++++++++++++++++++++++++++++ */

:root {
  --flag-radius: var(--radius-medium);
  --flag-bg-color: var(--color-light);
  --flag-text-color: var(--color-darker);
}

/* 1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 2. GLOBAL OVERRIDES ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.p-flag {
  font-size: var(--size-small);
  line-height: var(--lineheight-small);
  font-weight: var(--weight-bold);
  background-color: var(--flag-bg-color);
  color: var(--flag-text-color);
  padding: 2px var(--gutter-small);
  border-radius: var(--flag-radius);
}

/* 2. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 3. COLOR VARIATIONS ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.p-flag--info {
  --flag-bg-color: rgb(var(--color-blue-light));
  --flag-text-color: rgb(var(--color-blue-dark));
}

.p-flag--new {
  --flag-bg-color: rgb(var(--color-green-light));
  --flag-text-color: rgb(var(--color-green-dark));
}

.p-flag--aware {
  --flag-bg-color: rgb(var(--color-orange-light));
  --flag-text-color: rgb(var(--color-orange-dark));
}

.p-flag--important {
  --flag-bg-color: rgb(var(--color-red-light));
  --flag-text-color: rgb(var(--color-red-dark));
}

/* 4. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* END OF FILE ############################################################## */
