/* PART [ STICKER > STYLESHEET ] ############################################ */

/* 1. ROOT LEVEL VARIABLES ++++++++++++++++++++++++++++++++++++++++++++++++++ */

:root {
  --sticker-label-color: var(--color);

}

/* 1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 2. GLOBAL OVERRIDES ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.p-sticker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-top;
  width: fit-content;

}

.p-sticker > small {
  display: block;
  font-weight: var(--weight-regular);
  color: var(--sticker-label-color);
}

/* 2. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 3. ORIENTATION VARIATIONS ++++++++++++++++++++++++++++++++++++++++++++++++ */

.p-sticker--top {
  flex-direction: column;
  justify-content: flex-top;
}

.p-sticker--bottom {
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.p-sticker--left {
  align-items: flex-start;
}

.p-sticker--center {
  align-items: center;
}

.p-sticker--right {
  align-items: flex-end;
}

/* 4. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* END OF FILE ############################################################## */
