/* FEATURE [ BLOCK > STYLESHEET ] ########################################### */

/* 1. ROOT LEVEL VARIABLES ++++++++++++++++++++++++++++++++++++++++++++++++++ */

:root {
  --block-radius: var(--radius-small);
  --block-border-width: 2px;
  --block-border-color: var(--color-light);
  --block-color: var(--color-white);
}

/* 1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 2. BLOCK +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.f-block {
  
  background-color: var(--block-color);
  border-radius: var(--block-radius);
  width: 100%;
  padding: var(--gutter);
}

/* 2. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 3. HEADER ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.f-block__header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  border-bottom: solid 2px var(--block-border-color);
  padding-bottom: var(--gutter-small);
  margin-bottom: var(--gutter-small);
  
}

.f-block__header > h4 {
  flex: 1;
  font-weight: var(--weight-bold);
  font-family: var(--family-secondary);
  margin: 0;
}

.f-block__header > ul {
  flex: none;
  width: fit-content;
  margin: 0;
  font-size: var(--size-small);
  line-height: var(--lineheight-small);
}

/* 3. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 4. VARIATIONS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.f-block--bordered {
  border: solid var(--block-border-width) var(--block-border-color);
}

/* 4. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* END OF FILE ############################################################## */
