/* CEMENT [ BUCKET > GRIDS ] ################################################ */

/* 1. ROOT LEVEL VARIABLES ++++++++++++++++++++++++++++++++++++++++++++++++++ */

:root {
  --grid-gap-xl: var(--gutter-large);
  --grid-gap-l: var(--gutter-medium);
  --grid-gap-m: var(--gutter);
  --grid-gap-s: var(--gutter-small);

  --grid-col-xl: 1fr 1fr;
  --grid-col-l: 1fr 1fr;
  --grid-col-m: 1fr 1fr;
  --grid-col-s: 1fr;
}

/* 1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 2. GRID ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.b-grid {
  display: grid;
  background: red;
}

@media screen and (max-width: 480px) {
  .b-grid  {
    grid-template-columns: var(--grid-col-s);
    grid-gap: var(--grid-gap-s);
  }
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .b-grid  {
    grid-template-columns: var(--grid-col-m);
    grid-gap: var(--grid-gap-m);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .b-grid  {
    grid-template-columns: var(--grid-col-l);
    grid-gap: var(--grid-gap-l);
  }
}

@media screen and (min-width: 1441px) {
  .b-grid  {
    grid-template-columns: var(--grid-col-xl);
    grid-gap: var(--grid-gap-xl);
  }
}

/* 2. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* END OF FILE ############################################################## */
