/* CEMENT [ UTILITY > GUTTERS ] ############################################# */

/* 1. GUTTERS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.u-gutter-top {
  margin-top: var(--gutter);
}

.u-gutter-right {
  margin-right: var(--gutter);
}

.u-gutter-bottom {
  margin-bottom: var(--gutter);
}

.u-gutter-left {
  margin-left: var(--gutter);
}

/* 1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* END OF FILE ############################################################## */
