/* CEMENT [ UTILITY > GUTTERS ] ############################################# */

/* 1. GUTTERS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.u-gutter-top-small {
  margin-top: var(--gutter-small)!important;
}
.u-gutter-top {
  margin-top: var(--gutter)!important;
}
.u-gutter-top-medium {
  margin-top: var(--gutter-medium)!important;
}
.u-gutter-top-large {
  margin-top: var(--gutter-large)!important;
}

.u-gutter-right-small {
  margin-right: var(--gutter-small)!important;
}
.u-gutter-right {
  margin-right: var(--gutter)!important;
}
.u-gutter-right-medium {
  margin-right: var(--gutter-medium)!important;
}
.u-gutter-right-large {
  margin-right: var(--gutter-large)!important;
}

.u-gutter-bottom-small {
  margin-bottom: var(--gutter-small)!important;
}
.u-gutter-bottom {
  margin-bottom: var(--gutter)!important;
}
.u-gutter-bottom-medium {
  margin-bottom: var(--gutter-medium)!important;
}
.u-gutter-bottom-large {
  margin-bottom: var(--gutter-large)!important;
}

.u-gutter-left-small {
  margin-left: var(--gutter-small)!important;
}
.u-gutter-left {
  margin-left: var(--gutter)!important;
}
.u-gutter-left-medium {
  margin-left: var(--gutter-medium)!important;
}
.u-gutter-left-large {
  margin-left: var(--gutter-large)!important;
}

/* 1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* END OF FILE ############################################################## */
