/* FORM [ FIELD > STYLESHEET ] ############################################## */

/* 1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.form-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* 1. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 2. LABEL +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.form-field-label {
  flex: none;
  width: 100%;
  margin-bottom: var(--gutter-small);
}

/* 2. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 2. POSTFIX & PREFIX ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.form-field-prefix,
.form-field-postfix {
  font-weight: var(--weight-light);
  font-size: var(--size-medium);
  line-height: var(--lineheight-medium);
}

.form-field-prefix {
  margin-right: var(--gutter-small);
}

.form-field-postfix {
  margin-left: var(--gutter-small);
}

/* 2. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 3. MESSAGE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.form-field-message {
  display: flex;
  align-items: center;
  margin-top: 5px;
  flex: none;
  width: 100%;
  position: relative;

}

/* 3. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 4. ERROR STATE +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.form-field.hasError .form-field-message  {
  color: var(--color-red);
}

.form-field.hasError .form-field-message::before  {
  flex: none;
  content: '!';
  background: var(--color-red);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  margin-right: 5px;

}

/* 4. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 5. TOKENS ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ *

/* 5. END +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* END OF FILE ############################################################## */
